---
layout: default
---
{% include header.html %}
    <section class="banner">
        <h1>háVagas! <a href="https://docs.google.com/forms/d/e/1FAIpQLSfwPWgQ5SU7M_JZSAzxoHrEeZCq-cI0ck0rj8ycWS8iPOqxKg/viewform?usp=sf_link" id="show-form-btn" class="green-btn-style inherited-styles-for-exported-element">Anuncie sua vaga aqui!</a></h1>
        <p>Explore vagas e oportunidades de carreira em <strong>Petrolina</strong>, <strong>Juazeiro</strong> e <strong>Região</strong>!</p>
    </section>
{% include job-form-modal.html %}
    <section class="job-listings">
{% assign sorted_vagas = site.vagas | sort: "order" %}{% for job in sorted_vagas %}    <div class="job" id="{{ job.job_id }}">
        <h3 style="margin-bottom: 0.5em;"><a href="{{ job.url | relative_url }}">{{ job.title }}</a></h3>
        <h5 style="margin-bottom: 0.5em;">{{ job.enterprise }}</h5>
        <p style="margin-bottom: 0.5em;">{{ job.location }}</p>
        <p style="margin-bottom: 0.5em;">{{ job.description }}</p>
        <a href="javascript:void(0)" class="button"><span>Candidatar-se</span></a>
        <div class="tooltip" style="display: none;">Email copiado!</div>
        <div class="timer" data-data-inicio="{{ job.startDate }}" data-data-fim="{{ job.endDate }}"></div>
        <div class="expired-message" style="display: none;">Anúncio Expirado</div>
    </div>
{% endfor %}    </section>
    <button id="loadMoreBtn" class="button" style="width: 150px; background-image: linear-gradient(115deg, #4fcf70, #44ce7b, #12bcfe, #a767e5, #fad648); text-align: center; margin: 20px auto; position: relative; color: #fff; text-decoration: none; display: block; font-weight: normal; border-radius: 6px; overflow: hidden; transition: transform 0.3s ease-in-out, background-color 0.3s ease; cursor: pointer; border: none;     padding: 1px 0; resize: none;">
        <span><strong>Mais Vagas</strong></span>
    </button>
{% include footer.html %}
{% include cookie-banner.html %}
    <script src="script.js"></script>
    <script src="entries.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var modal = document.getElementById("myModal");
            var showFormBtn = document.getElementById("show-form-btn");
            var closeButton = document.querySelector(".close");

            showFormBtn.addEventListener("click", function () {
                modal.style.display = "block";
            });

            closeButton.addEventListener("click", function () {
                modal.style.display = "none";
            });

            window.addEventListener("click", function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            });

            var form = document.getElementById("contact-form-data");
            document.getElementById('myForm').addEventListener('submit', function(event) {
            if (!document.getElementById('privacyPolicy').checked) {
                alert('Por favor, marque a caixa de seleção para concordar com as políticas de privacidade.');
                event.preventDefault();
                }
            });
        });
        document.addEventListener("DOMContentLoaded", function() {
            var visibleJobs = 12;
            var jobsContainer = document.querySelector('.job-listings');
            var loadMoreBtn = document.getElementById('loadMoreBtn');

            function toggleJobsVisibility() {
                var jobs = jobsContainer.querySelectorAll('.job');
                for (var i = 0; i < jobs.length; i++) {
                    if (i < visibleJobs) {
                        jobs[i].style.display = 'block';
                    } else {
                        jobs[i].style.display = 'none';
                    }
                }

                if (visibleJobs < jobs.length) {
                    loadMoreBtn.style.display = 'block';
                } else {
                    loadMoreBtn.style.display = 'none';
                }
            }

            toggleJobsVisibility();

            loadMoreBtn.addEventListener('click', function() {
                visibleJobs += 12;
                toggleJobsVisibility();
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.job-listings .job').forEach(function(job) {
                job.addEventListener('contextmenu', function(e) {
                    if (!e.target.closest('header')) {
                        e.preventDefault();
                    }
                });

                job.addEventListener('mousedown', function(e) {
                    if (!e.target.closest('header')) {
                        e.preventDefault();
                    }
                });
            });

            document.addEventListener('mousedown', function(e) {
                if (!e.target.closest('header')) {
                    if (!e.target.closest('.modal')) {
                        e.preventDefault();
                    }
                }
            });
        });

    </script>
{% include cookie-banner-init.html %}
