    <header>
        <div class="logo">
            <a href="https://www.havagas.net">
                <img src="https://raw.githubusercontent.com/dantebertuzzi/havagas/main/img/logo300px.png" alt="Logo" class="logo-image">
            </a>
        </div>
        <div class="search-bar">
            <span class="material-symbols-outlined">
                search
            </span>
            <input type="text" id="searchInput" oninput="pesquisarVagas()" placeholder="Pesquisar Vagas...">
        </div>
    </header>
